.extras {
  // &__container {
  //   display: grid;
  //   grid-template-columns: 1fr;
  //   grid-template-rows: auto;
  //   align-items: start;
  //   @media screen and (max-width: 600px) {
  //     grid-template-columns: 1fr;
  //   }
  // }
  h2 {
    margin-top: 0;
  }
  &__field, &__field--container {
    position: relative;
    white-space: nowrap;
  }
  &__field {
    display: flex;
    flex-direction: row;
    line-height: 1;
    margin-bottom: 1rem;
    @include styled-checkbox;


    span.image {
      margin: 0 0.5rem;
      align-self: center;
    }

    button.jj-tippy {
      height: 2rem;
      min-width: 2rem;
      padding: 0;
      right: 0;
      z-index: 2;
    }
  }
}
